/* 폼 submit 공통 스타일 */
.formSubmitBtn {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    background: var(--color-gray2);
    transition: var(--transition-default);
}
.formSubmitBtn button {
    font-size: var(--text-xl);
    font-weight: 700;
    color: var(--color-gray4);
}

.formSubmitBtnActive {
    background: var(--color-brand);
}

.formSubmitBtnActive button {
    color: var(--color-surface);
}