/* 폼 submit 공통 스타일 */
.formSubmitBtn {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    background: var(--color-gray2);
    transition: var(--transition-default);
}
.formSubmitBtn button {
    font-size: var(--text-xl);
    font-weight: 700;
    color: var(--color-gray4);
}

.formSubmitBtnActive {
    background: var(--color-brand);
}

.formSubmitBtnActive button {
    color: var(--color-surface);
}

/* 공통 버튼 스타일 */
.btnBase {
    font-size: var(--text-sm);
    color: var(--color-gray3);
    line-height: 1;
    padding: 6px 12px;
    padding-top: 8px;
    border-radius: 100px;
    border: 1px solid var(--color-gray3);
    transition: var(--transition-default);
    cursor: pointer;
}
.btnBase:hover {
    color: var(--color-brand);
    border: 1px solid var(--color-brand);
}

/* 리뷰 별 */
.starWrap {
    position: relative;
    width: 78px;
    height: 20px;
}

.star {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.StarActive {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
}