.footer {
    background: #f7f7f7 !important;
}
.footerWrap {
    text-align: center;
    padding: 40px 0;
}
.footer p {
    margin-top: 24px;
    font-size: var(--text-sm);
    color: var(--color-gray4);
}