:root {
  /* 색상 설정 */
  --color-surface: #FFFFFF;

  --color-text-primary: #292B3C;
  --color-brand: #4F4CA9;
  --color-secondary1: #383950;
  --color-secondary2: #D1BCFF;
  --color-secondary3: #F5F1FF;
  --color-secondary4: #EEEFF0;
  --color-secondary5: #F95252;
  
  --color-border-primary: #7D7F8E;
  --color-gray1: #F8F8F8;
  --color-gray2: #E0DFE4;
  --color-gray3: #9297A3;
  --color-gray4: #56576A;

  --color-info: #19C6EC;
  --color-success: #4CAF50;
  --color-warning: #FFBA00;
  --color-error: #E73838;


  /* 폰트 설정 */
  --text-xs: 1.2rem;
  --text-sm: 1.4rem;
  --text-base: 1.6rem;
  --text-lg: 1.8rem;
  --text-xl: 2.0rem;
  --text-2xl: 2.4rem;
  --text-3xl: 3.0rem;
  
  --font-family-SUITE-Regular: "SUITE-Regular";
	--font-family-SUITE-Bold: "SUITE-Bold";
	--font-family-SUITE-ExtraBold: "SUITE-ExtraBold";
	--font-family-PartialSansKR-Regular: "PartialSansKR-Regular";

  /* 애니메이션 지속시간 */
  --transition-default: all 0.2s ease;
}

*{word-break: keep-all !important;}
html {overflow-y:scroll; font-size: 62.5%;background: var(--color-surface); font-family: var(--font-family-SUITE-Regular); letter-spacing: -0.02em;  }
body {margin:0;padding:0;font-size:1.6em;background:var(--color-surface); background: var(--color-text-primary);}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1.6rem; font-weight: 400;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

ul, dl,dt,dd, li {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle;font-size:1.6rem}
input, button {margin:0;padding:0;font-size:1.6rem}
input[type="submit"] {cursor:pointer}
button {cursor:pointer; background: transparent; border: none;}
table {all: unset;border-collapse: collapse;width: 100%; display: table;}
tr {display: block;}
th, td {margin: 0; padding: 0; border: none; background: none; text-align: left; vertical-align: top; font: inherit; color: inherit;}

textarea, select {font-size:1.6rem}
select {margin:0}
p {margin:0;padding:0;overflow-wrap: break-word;}
hr {display:none}
pre {overflow-x:scroll;font-size:1.6rem}
a {color:#000;text-decoration:none}

*, :after, :before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

input[type=text],input[type=password],input[type=email], textarea {
outline:none;
border: none;
}

mark { line-height: initial; }

.placeholdersjs {color:#aaa !important}
::-webkit-scrollbar {
    width:8px;height:8px;
  }
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius:4px;
    background-clip: padding-box;
  }
 
/* 폰트 설정 */
@font-face {
  font-family: 'SUITE-Regular';
  font-weight: 400;
  src: url('/fonts/SUITE/SUITE-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'SUITE-Bold';
  font-weight: 700;
  src: url('/fonts/SUITE/SUITE-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'SUITE-ExtraBold';
  font-weight: 800;
  src: url('/fonts/SUITE/SUITE-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'PartialSansKR-Regular';
  src: url('/fonts/PartialSansKR-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Pretendard/Pretendard-Bold.woff') format('woff2');
}
