.header {
    display: flex;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 8888;
    background: var(--color-surface);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);
    max-width: 768px;
    width: 100%;
}
.headerWrap {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleWrap {
    font-size: var(--text-lg);
    font-weight: 700;
}

.backBtn, .menuOpenBtn  {color: var(--color-text-primary); transition: var(--transition-default);}

.backBtn:hover ,.menuOpenBtn:hover {color: var(--color-brand);}