/* layout */
.home_wrapper {
    min-height: calc(100vh - 153px);
    padding-top: 60px;
}
.home_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 24px;
    row-gap: 48px;  
    padding-top: 120px !important;
    padding-bottom: 120px !important;
}
.home_container> :nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.home_container> :nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.home_container> :nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

@media (max-width: 660px) {
 .home_container {
    grid-template-rows: auto auto;
    row-gap: 50px;
    column-gap: 16px;
  }
  .home_container > :nth-child(1) {
    grid-column: 1 / 3; 
    grid-row: 1 / 2;
  }
  .home_container > :nth-child(2) {
    grid-column: 1 / 2; 
    grid-row: 2 / 3;
  }
  .home_container > :nth-child(3) {
    grid-column: 2 / 3; 
    grid-row: 2 / 3;
  }
}


/* common style */
.home_title {
    font-family: var(--font-family-SUITE-Bold);
    font-size: 2.4rem;
    color: #000;
    letter-spacing: -2%;
    line-height: 140%;
    cursor: pointer;
}
.home_sub_title {
    font-family: var(--font-family-SUITE-Regular);
    font-size: 1.6rem;
    color: var(--color-text-primary);
    letter-spacing: -2%;
    line-height: 140%;
    cursor: pointer;
}
.thumbnail_box{
    /* width: 340px; */
    /* height: 194px; */
    aspect-ratio: 340/194;
    /* background-color: gray; */
    
    border-radius: 16px;
    overflow: hidden;
    margin-top: 28px;
    cursor: pointer;
}
.thumbnail_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Home Banner */
.home_banner_wrapper {
    height: 251px;
    width: 100%;
    margin-top: 100px !important;
    margin-bottom: 120px !important;
    background-image: url('/images/home/home_banner.png') !important;
    background-position: center right !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;

    display: flex;
    align-items: center;
    justify-content: start;
}
.banner_text01 {
    font-family: var(--font-family-PartialSansKR-Regular);
    color: var(--color-text-primary);
    font-size: 3.2rem;
    line-height: 160%;
    margin-bottom: 24px;
}
.banner_text01>span {
    color: var(--color-brand);
}
.banner_text02 {
    font-family: var(--font-family-SUITE-Regular);
    color: var(--color-text-primary);
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: -2%;
}

/* PhotoStudioFinder style */
.photostudio_text_box {
    text-align: center;
}
.photostudio_map_wrapper {
    margin: 72px 0;
    display: flex;
    gap: 30px;
}
.photostudio_kakao_map {
    width: 340px;
    height: 238px;
    border-radius: 16px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.16);
    overflow: hidden;
}
.photostudio_photo_list {
    height: 238px;
    padding: 13px 0;
    flex: 1;
    overflow-y: auto;
}
.search_input {
    width: 300px;
    font-family: var(--font-family-SUITE-Regular);
    color: var(--color-text-primary);
    font-size: 1.4rem;
    line-height: 100%;
    letter-spacing: -2%;
    border: 1px solid var(--color-gray2);
    /* border-radius: ; */
    padding: 12px 14px;
    margin-top: 24px;
    border-radius: 32px;
    outline: none;
}
.search_input::placeholder {
    color: var(--color-gray3);
}
.search_input:focus{
    border: 1px solid var(--color-brand);
}
.photostudio_more_btn {
    background-color: var(--color-brand);
    border-radius: 8px;
    cursor: pointer;

    font-family: var(--font-family-SUITE-Bold);
    font-size: 1.4rem;
    color: #FFFFFF;
    width: 163px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
@media (max-width: 660px) {
    .photostudio_map_wrapper {
        flex-direction: column;
    }
    .photostudio_kakao_map {
        width: 100%;
    }
}

/* PhotoStudioList style */
.top {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
}
.photo_studio_list_wrapper {
    display: flex;
    gap: 16px;
    cursor: pointer;
}
.psl_number_box {
    width: 60px;
    height: 60px;
    border: 1px solid var(--color-secondary4);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.psl_number_box>p:nth-child(1) {
    font-family: var(--font-family-SUITE-ExtraBold);
    color: var(--color-brand);
}
.psl_number_box>p:nth-child(2) {
    font-family: var(--font-family-SUITE-Bold);
    font-size: 1rem;
    color: var(--color-gray3);
}
.psl_text_box01 {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}
.psl_text_box02 {
    font-family: var(--font-family-SUITE-Bold);
}
.psl_text_box02>p:nth-child(1) {
    color: var(--color-text-primary);
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: -2%;
}
.psl_text_box02>p:nth-child(2) {
    color: var(--color-brand);
    font-size: 1.4rem;
    line-height: 100%;
    letter-spacing: -2%;
    margin-top: 3px;
}

/* Live Ranking */
.live_rank_thumnail{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/home/ranking_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.high_ranking{
    display: flex;
    gap: 26px;
}
.rank_crown_image{
    width: 23px !important;
    height: 14px !important;
}
.rank0 {order: 0;;}
.rank1 {order: 1;  transform: scale(1.15)}
.rank2 {order: 2;}
.high_ranking div{
    font-family: var(--font-family-SUITE-Bold);
    color: #FFFFFF; 
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.high_ranking_title{
    font-size: 1.4rem;
    line-height: 140%;
    text-align: center;
    white-space: pre-line;
}
.high_ranking_count{
    background-color: var(--color-brand);
    font-size: 1rem;
    text-align: center;
    border-radius: 32px;
    padding: 6px 12px;
}

.row_ranking{}
.row_ranking li{
    font-family: var(--font-family-SUITE-Bold);
    color: var(--color-text-primarys);
    font-size: 1.6rem;
    line-height: 140%;
    padding: 15px 14px;
    border-bottom: 1px solid var(--color-gray2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.row_ranking li>div{
    display: flex;
    align-items: center;
    gap: 14px;
}
.lg_fonts{
    font-family: var(--font-family-SUITE-Regular);
    font-size: 1.4rem;   
    line-height: 100%;
}
