.layout_wrapper{
    background-color: var(--color-brand);
    /* border-inline: 1px solid #000; */
    max-width: 768px;    
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    font-family: var(--font-family-SUITE-Regular);
}
