.layout_wrapper {
    max-width: 768px;
    min-width: 300px;
    width: 100%;
    margin: 0 auto;
    background: var(--color-surface);
}
.width {
    width: 92%;
    margin:  0 auto;
}

.body_wrap {
    min-height: calc(100vh - 153px);
}
.pt_space {
    padding-top: 120px; 
}
.py_space {
    padding-top: 120px;
    padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
}
