
.contentsWrap {
    position: relative;
    padding-top: 60px;
}
.mapTop {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 200px;
    z-index: 888;
    max-width: 706px;
    width: 92%;
}

.listWrap {
    background: var(--color-surface);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 888;
    width: 100%;
}