.reviewBox {
    width: 100%;
}

.reviewSwiper {
    width: 96%;
    margin-left: auto;
}
.imageWrap {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 16px;
    overflow: hidden;
}
.imageWrap img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.reviewContent h6 {
    font-size: var(--text-lg);
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 24px;
}

.reviewContent p {
    margin-top: 12px;
    margin-bottom: 24px;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    line-height: 1.4;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.reviewContent span {
    color: var(--color-gray3);
}