/* pose */
.pose_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 48px 0;
}
.pose_list div{
    position: relative;
}
.pose_list img{
    cursor: pointer;
    border-radius: 14px;
    overflow: hidden;
}
.selectImg img{
    opacity: 0.5;
}
.selectNumber{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-brand);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-SUITE-ExtraBold);
    font-size: 1.6rem;
    color: #FFFFFF;
}
.pose_title{
    font-family: var(--font-family-SUITE-Bold);
    color: #000;
    font-size: 2.4rem;
    line-height: 140%;
    letter-spacing: -2%;
    text-align: center;
    margin-top: 48px;
}

/* fixed button */
.frame_btn{
  position: fixed;
  bottom: 120px;
  right: max(calc((100vw - 768px) / 2 + 20px), 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.frame_btn div{
    background-color: var(--color-brand);
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* preview */
.frame_wrapper{
    width: 100%;
    margin: 50px 0;
}
.frame_canvas{
    width: 100%;
    height: auto;
}
.preview_filter{

}
.filter_title{
    font-family: var(--font-family-SUITE-Bold);
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.filter_list{
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.filter_list li{
    text-align: center;
}
.filter_btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.warm_filter{filter: brightness(110%) saturate(120%) sepia(20%);}
.bw_filter{filter: grayscale(100%);}
.dreamy_filter {filter: hue-rotate(30deg) saturate(150%) brightness(115%);}