.storeList {
    background: var(--color-surface);
}
.barWrap {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barWrap button{
    transition: var(--transition-default);
    display: block;
    width: 72px;
    height: 12px;
    border-radius: 10px;
    background: var(--color-gray2);
    cursor: pointer;
}
.listBox {
    padding: 24px 0;
    width: 92%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.storeList li{
    width: 100%;
    display: flex;
    align-items: center;
}
.imageBox {
    width: 37%;
}
.imageBox img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}
.contextBox {
    width: 60%;
    padding: 0 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h6{
    font-weight: 700;
    white-space: nowrap;     
    overflow: hidden;        
    text-overflow: ellipsis; 
}

.reviewStats {
    display: flex;
    align-items: center;
    gap: 0 6px;
    margin-top: 12px;
    margin-bottom: 24px;
}
.reviewStats .rating {
    display: flex;
    align-items: center;
    gap: 0 4px;
    background: var(--color-warning);
    padding: 4px 6px;
    border-radius: 100px;
    font-size: var(--text-sm);
    font-weight: 800;
}
.reviewStats .storeLink{
    font-size: var(--text-sm);
    color: var(--color-gray4);
}
.categoryTags {
    display: flex;
    flex-wrap: wrap;
    gap: 0 4px;
}
.categoryTags span {
    display: inline-block;
    font-size: var(--text-sm);
    color: var(--color-brand);
}

@media all and (max-width: 600px) {
.listBox {
    grid-template-columns: repeat(1, 1fr);
}
}